.elementor-29 .elementor-element.elementor-element-1f07b297 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-1f07b297:not(.elementor-motion-effects-element-type-background),
.elementor-29 .elementor-element.elementor-element-1f07b297 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url("../../2024/01/happy-elderly-man-wheelchair-kind-nurse-outdoors.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-29 .elementor-element.elementor-element-1f07b297 > .elementor-background-overlay {
  background-color: var(--e-global-color-9b76199);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-1f07b297 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-29 .elementor-element.elementor-element-757f64cc > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-29 .elementor-element.elementor-element-757f64cc {
  font-family: var(--e-global-typography-f20bd9c-font-family), Sans-serif;
  font-size: var(--e-global-typography-f20bd9c-font-size);
  font-weight: var(--e-global-typography-f20bd9c-font-weight);
  line-height: var(--e-global-typography-f20bd9c-line-height);
  color: var(--e-global-color-345cfa0);
}
.elementor-29 .elementor-element.elementor-element-717f0539 {
  width: auto;
  max-width: auto;
}
.elementor-29 .elementor-element.elementor-element-2c17f71 {
  width: auto;
  max-width: auto;
}
.elementor-29 .elementor-element.elementor-element-2c17f71 > .elementor-widget-container {
  margin: 0px 0px 0px 20px;
}
.elementor-29 .elementor-element.elementor-element-3870aa4 {
  width: auto;
  max-width: auto;
}
.elementor-29 .elementor-element.elementor-element-3870aa4 > .elementor-widget-container {
  margin: 0px 0px 0px 20px;
}
.elementor-29 .elementor-element.elementor-element-309d6383 {
  padding: 100px 0px 100px 0px;
}
.elementor-29 .elementor-element.elementor-element-106f439c img {
  width: 100%;
  height: 590px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-6a1ed618 > .elementor-element-populated {
  margin: 0px 0px 0px 50px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 50px;
}
.elementor-29 .elementor-element.elementor-element-1871ca6d {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-29 .elementor-element.elementor-element-1c056655 .elementor-heading-title {
  font-family: var(--e-global-typography-104dbb0-font-family), Sans-serif;
  font-size: var(--e-global-typography-104dbb0-font-size);
  font-weight: var(--e-global-typography-104dbb0-font-weight);
  text-transform: var(--e-global-typography-104dbb0-text-transform);
  line-height: var(--e-global-typography-104dbb0-line-height);
  color: var(--e-global-color-text);
}
.elementor-29 .elementor-element.elementor-element-6a65b0ff {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-primary);
  --divider-border-width: 2px;
}
.elementor-29 .elementor-element.elementor-element-6a65b0ff > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-6a65b0ff .elementor-divider-separator {
  width: 100px;
}
.elementor-29 .elementor-element.elementor-element-6a65b0ff .elementor-divider {
  padding-block-start: 0px;
  padding-block-end: 0px;
}
.elementor-29 .elementor-element.elementor-element-5b853c10:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-29
  .elementor-element.elementor-element-5b853c10
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-5b853c10.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-5b853c10.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-5b853c10 > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-5b853c10 > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-5b853c10 > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-5b853c10 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 30px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 30px;
  padding: 30px 50px 30px 50px;
}
.elementor-29 .elementor-element.elementor-element-5b853c10 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-585424cc .elementor-icon-wrapper {
  text-align: center;
}
.elementor-29 .elementor-element.elementor-element-585424cc.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-secondary);
}
.elementor-29 .elementor-element.elementor-element-585424cc.elementor-view-framed .elementor-icon,
.elementor-29 .elementor-element.elementor-element-585424cc.elementor-view-default .elementor-icon {
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-secondary);
}
.elementor-29 .elementor-element.elementor-element-585424cc.elementor-view-framed .elementor-icon,
.elementor-29 .elementor-element.elementor-element-585424cc.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-secondary);
}
.elementor-29 .elementor-element.elementor-element-585424cc .elementor-icon {
  font-size: 34px;
  padding: 25px;
}
.elementor-29 .elementor-element.elementor-element-585424cc .elementor-icon svg {
  height: 34px;
}
.elementor-29 .elementor-element.elementor-element-49bdefe1 > .elementor-widget-container {
  margin: 10px 0px 15px 0px;
}
.elementor-29 .elementor-element.elementor-element-49bdefe1 {
  text-align: center;
}
.elementor-29 .elementor-element.elementor-element-49bdefe1 .elementor-heading-title {
  color: var(--e-global-color-345cfa0);
}
.elementor-29 .elementor-element.elementor-element-7ce1192 .elementor-button {
  background-color: var(--e-global-color-1f0a593);
  border-radius: 8px 8px 8px 8px;
}
.elementor-29 .elementor-element.elementor-element-13190b8f:not(.elementor-motion-effects-element-type-background),
.elementor-29 .elementor-element.elementor-element-13190b8f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-6238f67);
  background-image: url("../../2024/01/nurse-talking-to-senior-man-in-residential-care-ho-P28XMPC-1.webp");
  background-position: center center;
}
.elementor-29 .elementor-element.elementor-element-13190b8f > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.65;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-13190b8f {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-29 .elementor-element.elementor-element-1e125a68:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-29
  .elementor-element.elementor-element-1e125a68
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-345cfa0);
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-1e125a68.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-1e125a68.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-1e125a68 > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 20px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
  padding: 30px 30px 30px 30px;
}
.elementor-29 .elementor-element.elementor-element-1e125a68 > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-1e125a68 > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-1e125a68 > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-1e125a68 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-b377828 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-b377828 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-15e4bf44.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-15e4bf44.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-15e4bf44 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29 .elementor-element.elementor-element-15e4bf44 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-5d9422a9 {
  text-align: left;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-1b5b459d.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-1b5b459d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-1b5b459d > .elementor-element-populated {
  margin: 0px 0px 0px 10px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 10px;
}
.elementor-29 .elementor-element.elementor-element-2610a956:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-29
  .elementor-element.elementor-element-2610a956
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-345cfa0);
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-2610a956.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-2610a956.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-2610a956 > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px 30px 30px 30px;
}
.elementor-29 .elementor-element.elementor-element-2610a956 > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-2610a956 > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-2610a956 > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-2610a956 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-1683880b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-1683880b > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-2d4d5a0f.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-2d4d5a0f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-2d4d5a0f > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29 .elementor-element.elementor-element-2d4d5a0f > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-52ffea5d {
  text-align: left;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-3af44554.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-3af44554.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-3af44554 > .elementor-element-populated {
  margin: 0px 0px 0px 10px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 10px;
}
.elementor-29 .elementor-element.elementor-element-67c57596 {
  text-align: right;
}
.elementor-29 .elementor-element.elementor-element-66089be6:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-29
  .elementor-element.elementor-element-66089be6
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-345cfa0);
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-66089be6.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-66089be6.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-66089be6 > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
  padding: 30px 30px 30px 30px;
}
.elementor-29 .elementor-element.elementor-element-66089be6 > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-66089be6 > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-66089be6 > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-66089be6 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-1890bfdf {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-1890bfdf > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-387f6a04.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-387f6a04.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-387f6a04 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29 .elementor-element.elementor-element-387f6a04 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-1e0a25ea {
  text-align: left;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-3625d886.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-3625d886.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-3625d886 > .elementor-element-populated {
  margin: 0px 0px 0px 10px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 10px;
}
.elementor-29 .elementor-element.elementor-element-4bc18c52 {
  padding: 100px 0px 100px 0px;
}
.elementor-29 .elementor-element.elementor-element-693e77ec > .elementor-container {
  max-width: 700px;
}
.elementor-29 .elementor-element.elementor-element-693e77ec {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-29 .elementor-element.elementor-element-35686291 {
  text-align: center;
}
.elementor-29 .elementor-element.elementor-element-35686291 .elementor-heading-title {
  font-family: var(--e-global-typography-104dbb0-font-family), Sans-serif;
  font-size: var(--e-global-typography-104dbb0-font-size);
  font-weight: var(--e-global-typography-104dbb0-font-weight);
  text-transform: var(--e-global-typography-104dbb0-text-transform);
  line-height: var(--e-global-typography-104dbb0-line-height);
  color: var(--e-global-color-text);
}
.elementor-29 .elementor-element.elementor-element-3938c50a {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-primary);
  --divider-border-width: 2px;
}
.elementor-29 .elementor-element.elementor-element-3938c50a > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-3938c50a .elementor-divider-separator {
  width: 100px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-29 .elementor-element.elementor-element-3938c50a .elementor-divider {
  text-align: center;
  padding-block-start: 0px;
  padding-block-end: 0px;
}
.elementor-29 .elementor-element.elementor-element-e21b677 {
  text-align: center;
}
.elementor-29 .elementor-element.elementor-element-35b7061e > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 20px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
}
.elementor-29 .elementor-element.elementor-element-35b7061e > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-35b7061e > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-35b7061e > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-35b7061e > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-148fa0 > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-29 .elementor-element.elementor-element-148fa0 .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-29 .elementor-element.elementor-element-148fa0.elementor-position-right .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-29 .elementor-element.elementor-element-148fa0.elementor-position-left .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-29 .elementor-element.elementor-element-148fa0.elementor-position-top .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-148fa0 .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: var(--e-global-typography-1f70380-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f70380-font-size);
  font-weight: var(--e-global-typography-1f70380-font-weight);
  text-transform: var(--e-global-typography-1f70380-text-transform);
  line-height: var(--e-global-typography-1f70380-line-height);
}
.elementor-29 .elementor-element.elementor-element-148fa0 .elementor-image-box-wrapper .elementor-image-box-img {
  width: 100%;
}
.elementor-29 .elementor-element.elementor-element-148fa0 .elementor-image-box-img img {
  border-radius: 5px;
  transition-duration: 0.3s;
}
.elementor-29 .elementor-element.elementor-element-3418453 > .elementor-widget-container {
  padding: 0px 0px 20px 25px;
}
.elementor-29 .elementor-element.elementor-element-3418453 .elementor-button {
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px 15px 20px;
}
.elementor-29 .elementor-element.elementor-element-17fcdbe4 > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-29 .elementor-element.elementor-element-17fcdbe4 > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-17fcdbe4 > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-17fcdbe4 > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-17fcdbe4 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-346ee0b2 > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-29 .elementor-element.elementor-element-346ee0b2 .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-29 .elementor-element.elementor-element-346ee0b2.elementor-position-right .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-29 .elementor-element.elementor-element-346ee0b2.elementor-position-left .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-29 .elementor-element.elementor-element-346ee0b2.elementor-position-top .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-346ee0b2 .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: var(--e-global-typography-1f70380-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f70380-font-size);
  font-weight: var(--e-global-typography-1f70380-font-weight);
  text-transform: var(--e-global-typography-1f70380-text-transform);
  line-height: var(--e-global-typography-1f70380-line-height);
}
.elementor-29 .elementor-element.elementor-element-346ee0b2 .elementor-image-box-wrapper .elementor-image-box-img {
  width: 100%;
}
.elementor-29 .elementor-element.elementor-element-346ee0b2 .elementor-image-box-img img {
  border-radius: 5px;
  transition-duration: 0.3s;
}
.elementor-29 .elementor-element.elementor-element-e8247ee > .elementor-widget-container {
  padding: 0px 0px 20px 25px;
}
.elementor-29 .elementor-element.elementor-element-e8247ee .elementor-button {
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px 15px 20px;
}
.elementor-29 .elementor-element.elementor-element-58521875 > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
}
.elementor-29 .elementor-element.elementor-element-58521875 > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-58521875 > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-58521875 > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-58521875 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-54693089 > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-29 .elementor-element.elementor-element-54693089 .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-29 .elementor-element.elementor-element-54693089.elementor-position-right .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-29 .elementor-element.elementor-element-54693089.elementor-position-left .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-29 .elementor-element.elementor-element-54693089.elementor-position-top .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-54693089 .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: var(--e-global-typography-1f70380-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f70380-font-size);
  font-weight: var(--e-global-typography-1f70380-font-weight);
  text-transform: var(--e-global-typography-1f70380-text-transform);
  line-height: var(--e-global-typography-1f70380-line-height);
}
.elementor-29 .elementor-element.elementor-element-54693089 .elementor-image-box-wrapper .elementor-image-box-img {
  width: 100%;
}
.elementor-29 .elementor-element.elementor-element-54693089 .elementor-image-box-img img {
  border-radius: 5px;
  transition-duration: 0.3s;
}
.elementor-29 .elementor-element.elementor-element-27c3d23 > .elementor-widget-container {
  padding: 0px 0px 20px 25px;
}
.elementor-29 .elementor-element.elementor-element-27c3d23 .elementor-button {
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px 15px 20px;
}
.elementor-29 .elementor-element.elementor-element-aee9778 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.elementor-29 .elementor-element.elementor-element-dd37ac6 > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 20px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
}
.elementor-29 .elementor-element.elementor-element-dd37ac6 > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-dd37ac6 > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-dd37ac6 > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-dd37ac6 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-a8065bb > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-29 .elementor-element.elementor-element-a8065bb .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-29 .elementor-element.elementor-element-a8065bb.elementor-position-right .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-29 .elementor-element.elementor-element-a8065bb.elementor-position-left .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-29 .elementor-element.elementor-element-a8065bb.elementor-position-top .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-a8065bb .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: var(--e-global-typography-1f70380-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f70380-font-size);
  font-weight: var(--e-global-typography-1f70380-font-weight);
  text-transform: var(--e-global-typography-1f70380-text-transform);
  line-height: var(--e-global-typography-1f70380-line-height);
}
.elementor-29 .elementor-element.elementor-element-a8065bb .elementor-image-box-wrapper .elementor-image-box-img {
  width: 100%;
}
.elementor-29 .elementor-element.elementor-element-a8065bb .elementor-image-box-img img {
  border-radius: 5px;
  transition-duration: 0.3s;
}
.elementor-29 .elementor-element.elementor-element-14f1b62 > .elementor-widget-container {
  padding: 0px 0px 20px 25px;
}
.elementor-29 .elementor-element.elementor-element-14f1b62 .elementor-button {
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px 15px 20px;
}
.elementor-29 .elementor-element.elementor-element-1908c0d > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-29 .elementor-element.elementor-element-1908c0d > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-1908c0d > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-1908c0d > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-1908c0d > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-8de0d47 > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-29 .elementor-element.elementor-element-8de0d47 .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-29 .elementor-element.elementor-element-8de0d47.elementor-position-right .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-29 .elementor-element.elementor-element-8de0d47.elementor-position-left .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-29 .elementor-element.elementor-element-8de0d47.elementor-position-top .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-8de0d47 .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: var(--e-global-typography-1f70380-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f70380-font-size);
  font-weight: var(--e-global-typography-1f70380-font-weight);
  text-transform: var(--e-global-typography-1f70380-text-transform);
  line-height: var(--e-global-typography-1f70380-line-height);
}
.elementor-29 .elementor-element.elementor-element-8de0d47 .elementor-image-box-wrapper .elementor-image-box-img {
  width: 100%;
}
.elementor-29 .elementor-element.elementor-element-8de0d47 .elementor-image-box-img img {
  border-radius: 5px;
  transition-duration: 0.3s;
}
.elementor-29 .elementor-element.elementor-element-1d755e1 > .elementor-widget-container {
  padding: 0px 0px 20px 25px;
}
.elementor-29 .elementor-element.elementor-element-1d755e1 .elementor-button {
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px 15px 20px;
}
.elementor-29 .elementor-element.elementor-element-655ee3e > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-abca336);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
}
.elementor-29 .elementor-element.elementor-element-655ee3e > .elementor-element-populated,
.elementor-29 .elementor-element.elementor-element-655ee3e > .elementor-element-populated > .elementor-background-overlay,
.elementor-29 .elementor-element.elementor-element-655ee3e > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-29 .elementor-element.elementor-element-655ee3e > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-e15f021 > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-29 .elementor-element.elementor-element-e15f021 .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-29 .elementor-element.elementor-element-e15f021.elementor-position-right .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-29 .elementor-element.elementor-element-e15f021.elementor-position-left .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-29 .elementor-element.elementor-element-e15f021.elementor-position-top .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-29 .elementor-element.elementor-element-e15f021 .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: var(--e-global-typography-1f70380-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f70380-font-size);
  font-weight: var(--e-global-typography-1f70380-font-weight);
  text-transform: var(--e-global-typography-1f70380-text-transform);
  line-height: var(--e-global-typography-1f70380-line-height);
}
.elementor-29 .elementor-element.elementor-element-e15f021 .elementor-image-box-wrapper .elementor-image-box-img {
  width: 100%;
}
.elementor-29 .elementor-element.elementor-element-e15f021 .elementor-image-box-img img {
  border-radius: 5px;
  transition-duration: 0.3s;
}
.elementor-29 .elementor-element.elementor-element-21ace58 > .elementor-widget-container {
  padding: 0px 0px 20px 25px;
}
.elementor-29 .elementor-element.elementor-element-21ace58 .elementor-button {
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px 15px 20px;
}
.elementor-29 .elementor-element.elementor-element-b4e063c img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center center;
}
.elementor-29 .elementor-element.elementor-element-64b08fc0:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-29
  .elementor-element.elementor-element-64b08fc0
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-64b08fc0.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-64b08fc0.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-64b08fc0 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-29 .elementor-element.elementor-element-64b08fc0 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-26d7c4b1 {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-4a7bcd5b.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-4a7bcd5b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-4a7bcd5b > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-29 .elementor-element.elementor-element-7f4691fa img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50% 50% 50% 50%;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-1586d59b.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-1586d59b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-6afd02f7 .elementor-heading-title {
  color: var(--e-global-color-6238f67);
}
.elementor-29 .elementor-element.elementor-element-598b7d04 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-345cfa0);
  --divider-border-width: 2px;
}
.elementor-29 .elementor-element.elementor-element-598b7d04 > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-598b7d04 .elementor-divider-separator {
  width: 50px;
}
.elementor-29 .elementor-element.elementor-element-598b7d04 .elementor-divider {
  padding-block-start: 0px;
  padding-block-end: 0px;
}
.elementor-29 .elementor-element.elementor-element-18c76e5e > .elementor-widget-container {
  margin: -12px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-18c76e5e .elementor-heading-title {
  font-family: var(--e-global-typography-893e8c3-font-family), Sans-serif;
  font-size: var(--e-global-typography-893e8c3-font-size);
  font-weight: var(--e-global-typography-893e8c3-font-weight);
  text-transform: var(--e-global-typography-893e8c3-text-transform);
  line-height: var(--e-global-typography-893e8c3-line-height);
  color: var(--e-global-color-345cfa0);
}
.elementor-29 .elementor-element.elementor-element-6292ee8f {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-23a45c9f.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-23a45c9f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-23a45c9f > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-29 .elementor-element.elementor-element-54bd18e1 img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50% 50% 50% 50%;
}
.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-2984e688.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-29
  .elementor-element.elementor-element-2984e688.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-29 .elementor-element.elementor-element-4b23bcfb .elementor-heading-title {
  color: var(--e-global-color-6238f67);
}
.elementor-29 .elementor-element.elementor-element-4a84422 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-345cfa0);
  --divider-border-width: 2px;
}
.elementor-29 .elementor-element.elementor-element-4a84422 > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-4a84422 .elementor-divider-separator {
  width: 50px;
}
.elementor-29 .elementor-element.elementor-element-4a84422 .elementor-divider {
  padding-block-start: 0px;
  padding-block-end: 0px;
}
.elementor-29 .elementor-element.elementor-element-4ba691c > .elementor-widget-container {
  margin: -12px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-4ba691c .elementor-heading-title {
  font-family: var(--e-global-typography-893e8c3-font-family), Sans-serif;
  font-size: var(--e-global-typography-893e8c3-font-size);
  font-weight: var(--e-global-typography-893e8c3-font-weight);
  text-transform: var(--e-global-typography-893e8c3-text-transform);
  line-height: var(--e-global-typography-893e8c3-line-height);
  color: var(--e-global-color-345cfa0);
}
.elementor-29 .elementor-element.elementor-element-a25820a {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --margin-top: 50px;
  --margin-bottom: 50px;
  --margin-left: 0px;
  --margin-right: 0px;
}
.elementor-29 .elementor-element.elementor-element-8c16105 > .elementor-widget-container {
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.15);
}
.elementor-29 .elementor-element.elementor-element-8c16105 .glsr:not([data-theme]) .glsr-review .glsr-star {
  --glsr-review-star: 1.25em;
}
.elementor-29 .elementor-element.elementor-element-8c16105 .glsr:not([data-theme]) .glsr-review {
  text-align: start;
  justify-content: start;
}
.elementor-29 .elementor-element.elementor-element-8c16105 .glsr:not([data-theme]) .glsr-review .glsr-review-actions {
  justify-content: start;
}
.elementor-29 .elementor-element.elementor-element-8c16105 .glsr:not([data-theme]) .glsr-review .glsr-review-date {
  flex: inherit;
}
.elementor-29 .elementor-element.elementor-element-8c16105 .glsr-reviews {
  --glsr-gap-xl: 2em;
}
.elementor-29 .elementor-element.elementor-element-d6ddd9f > .elementor-widget-container {
  margin: 50px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-d6ddd9f form.glsr-form .glsr-field-rating {
  --glsr-form-star: 2em;
}
.elementor-29 .elementor-element.elementor-element-d6ddd9f .glsr[data-theme] .glsr-field-rating [data-stars] {
  font-size: initial;
}
.elementor-29 .elementor-element.elementor-element-d6ddd9f .glsr[data-theme] .glsr-field-rating [data-stars] > span {
  font-size: initial;
  height: var(--glsr-form-star);
  width: var(--glsr-form-star);
}
.elementor-29 .elementor-element.elementor-element-d6ddd9f form.glsr-form .glsr-field-rating span[data-rating] {
  column-gap: 2px;
}
.elementor-29 .elementor-element.elementor-element-d6ddd9f .glsr-review-form {
  --glsr-gap-md: 0.75em;
}
.elementor-29 .elementor-element.elementor-element-d6ddd9f .elementor-form .elementor-form-fields-wrapper .glsr-field {
  margin-bottom: 0.75em;
}
@media (min-width: 768px) {
  .elementor-29 .elementor-element.elementor-element-76b98ad2 {
    width: 40.045%;
  }
  .elementor-29 .elementor-element.elementor-element-6a1ed618 {
    width: 59.955%;
  }
  .elementor-29 .elementor-element.elementor-element-15e4bf44 {
    width: 20%;
  }
  .elementor-29 .elementor-element.elementor-element-1b5b459d {
    width: 80%;
  }
  .elementor-29 .elementor-element.elementor-element-2d4d5a0f {
    width: 20%;
  }
  .elementor-29 .elementor-element.elementor-element-3af44554 {
    width: 80%;
  }
  .elementor-29 .elementor-element.elementor-element-387f6a04 {
    width: 20%;
  }
  .elementor-29 .elementor-element.elementor-element-3625d886 {
    width: 80%;
  }
  .elementor-29 .elementor-element.elementor-element-4a7bcd5b {
    width: 30%;
  }
  .elementor-29 .elementor-element.elementor-element-1586d59b {
    width: 70%;
  }
  .elementor-29 .elementor-element.elementor-element-23a45c9f {
    width: 30%;
  }
  .elementor-29 .elementor-element.elementor-element-2984e688 {
    width: 70%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-29 .elementor-element.elementor-element-3e075133 {
    width: 100%;
  }
  .elementor-29 .elementor-element.elementor-element-5b853c10 {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .elementor-29 .elementor-element.elementor-element-13190b8f:not(.elementor-motion-effects-element-type-background),
  .elementor-29 .elementor-element.elementor-element-13190b8f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
@media (max-width: 1024px) {
  .elementor-29 .elementor-element.elementor-element-1f07b297 {
    padding: 50px 15px 50px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-757f64cc {
    font-size: var(--e-global-typography-f20bd9c-font-size);
    line-height: var(--e-global-typography-f20bd9c-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-309d6383 {
    padding: 50px 15px 50px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-6a1ed618 > .elementor-element-populated {
    margin: 0px 0px 0px 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 30px;
  }
  .elementor-29 .elementor-element.elementor-element-1c056655 .elementor-heading-title {
    font-size: var(--e-global-typography-104dbb0-font-size);
    line-height: var(--e-global-typography-104dbb0-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-5b853c10 > .elementor-element-populated {
    margin: 15px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-13190b8f {
    padding: 50px 15px 50px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-1e125a68 > .elementor-element-populated {
    margin: 0px 10px 0px 0px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px;
    padding: 30px 30px 30px 30px;
  }
  .elementor-29 .elementor-element.elementor-element-2610a956 > .elementor-element-populated {
    margin: 0px 5px 0px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
    padding: 30px 30px 30px 30px;
  }
  .elementor-29 .elementor-element.elementor-element-66089be6 > .elementor-element-populated {
    margin: 0px 0px 0px 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
  }
  .elementor-29 .elementor-element.elementor-element-4bc18c52 {
    padding: 50px 15px 50px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-35686291 .elementor-heading-title {
    font-size: var(--e-global-typography-104dbb0-font-size);
    line-height: var(--e-global-typography-104dbb0-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-35b7061e > .elementor-element-populated {
    margin: 0px 10px 0px 0px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-148fa0 > .elementor-widget-container {
    padding: 15px 15px 15px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-148fa0 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-17fcdbe4 > .elementor-element-populated {
    margin: 0px 5px 0px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
  }
  .elementor-29 .elementor-element.elementor-element-346ee0b2 > .elementor-widget-container {
    padding: 15px 15px 15px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-346ee0b2 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-58521875 > .elementor-element-populated {
    margin: 0px 0px 0px 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
  }
  .elementor-29 .elementor-element.elementor-element-54693089 > .elementor-widget-container {
    padding: 15px 15px 15px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-54693089 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-dd37ac6 > .elementor-element-populated {
    margin: 0px 10px 0px 0px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-a8065bb > .elementor-widget-container {
    padding: 15px 15px 15px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-a8065bb .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-1908c0d > .elementor-element-populated {
    margin: 0px 5px 0px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
  }
  .elementor-29 .elementor-element.elementor-element-8de0d47 > .elementor-widget-container {
    padding: 15px 15px 15px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-8de0d47 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-655ee3e > .elementor-element-populated {
    margin: 0px 0px 0px 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
  }
  .elementor-29 .elementor-element.elementor-element-e15f021 > .elementor-widget-container {
    padding: 15px 15px 15px 15px;
  }
  .elementor-29 .elementor-element.elementor-element-e15f021 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-b4e063c img {
    height: 400px;
  }
  .elementor-29 .elementor-element.elementor-element-64b08fc0 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-7f4691fa img {
    width: 100%;
    height: 100px;
  }
  .elementor-29 .elementor-element.elementor-element-18c76e5e > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
  }
  .elementor-29 .elementor-element.elementor-element-18c76e5e .elementor-heading-title {
    font-size: var(--e-global-typography-893e8c3-font-size);
    line-height: var(--e-global-typography-893e8c3-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-54bd18e1 img {
    width: 100%;
    height: 100px;
  }
  .elementor-29 .elementor-element.elementor-element-4ba691c > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
  }
  .elementor-29 .elementor-element.elementor-element-4ba691c .elementor-heading-title {
    font-size: var(--e-global-typography-893e8c3-font-size);
    line-height: var(--e-global-typography-893e8c3-line-height);
  }
}
@media (max-width: 767px) {
  .elementor-29 .elementor-element.elementor-element-757f64cc {
    font-size: var(--e-global-typography-f20bd9c-font-size);
    line-height: var(--e-global-typography-f20bd9c-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-106f439c img {
    height: 300px;
  }
  .elementor-29 .elementor-element.elementor-element-6a1ed618 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-1c056655 .elementor-heading-title {
    font-size: var(--e-global-typography-104dbb0-font-size);
    line-height: var(--e-global-typography-104dbb0-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-1e125a68 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-2610a956 > .elementor-element-populated {
    margin: 15px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-66089be6 > .elementor-element-populated {
    margin: 15px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-35686291 .elementor-heading-title {
    font-size: var(--e-global-typography-104dbb0-font-size);
    line-height: var(--e-global-typography-104dbb0-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-35b7061e > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-148fa0 .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-29 .elementor-element.elementor-element-148fa0 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-17fcdbe4 > .elementor-element-populated {
    margin: 15px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-346ee0b2 .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-29 .elementor-element.elementor-element-346ee0b2 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-58521875 > .elementor-element-populated {
    margin: 15px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-54693089 .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-29 .elementor-element.elementor-element-54693089 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-dd37ac6 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-a8065bb .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-29 .elementor-element.elementor-element-a8065bb .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-1908c0d > .elementor-element-populated {
    margin: 15px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-8de0d47 .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-29 .elementor-element.elementor-element-8de0d47 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-655ee3e > .elementor-element-populated {
    margin: 15px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-29 .elementor-element.elementor-element-e15f021 .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-29 .elementor-element.elementor-element-e15f021 .elementor-image-box-title {
    font-size: var(--e-global-typography-1f70380-font-size);
    line-height: var(--e-global-typography-1f70380-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-b4e063c img {
    height: 300px;
  }
  .elementor-29 .elementor-element.elementor-element-7f4691fa {
    text-align: left;
  }
  .elementor-29 .elementor-element.elementor-element-7f4691fa img {
    width: 100px;
    height: 100px;
  }
  .elementor-29 .elementor-element.elementor-element-18c76e5e .elementor-heading-title {
    font-size: var(--e-global-typography-893e8c3-font-size);
    line-height: var(--e-global-typography-893e8c3-line-height);
  }
  .elementor-29 .elementor-element.elementor-element-54bd18e1 {
    text-align: left;
  }
  .elementor-29 .elementor-element.elementor-element-54bd18e1 img {
    width: 100px;
    height: 100px;
  }
  .elementor-29 .elementor-element.elementor-element-4ba691c .elementor-heading-title {
    font-size: var(--e-global-typography-893e8c3-font-size);
    line-height: var(--e-global-typography-893e8c3-line-height);
  }
}
